.sidebar-section-link-wrapper.folded-subcategories-parent > a[href] .folded-subcategories-caret {
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 0.25em solid transparent;
  border-bottom: 0.25em solid transparent;
  border-right: 0.35em solid currentColor;
  margin-left: 0.4em;
  opacity: 0.65;
  cursor: pointer;
  transform-origin: 50% 50%;
  transition: transform 150ms ease;
}

.sidebar-section-link-wrapper.folded-subcategories-parent.folded-subcategories-expanded
  > a[href]
  .folded-subcategories-caret {
  transform: rotate(-90deg);
}

.sidebar-section-link-wrapper.folded-subcategories-parent.folded-subcategories-collapsed
  > a[href]
  .folded-subcategories-caret {
  transform: rotate(0deg);
}

.sidebar-section-link-wrapper.folded-subcategories-hidden {
  display: none;
}

.sidebar-section-link-wrapper.folded-subcategories-child > a[href] {
  padding-inline-start: var(--folded-subcategories-indent-size, 1ch);
}
